<!--
 * @Author      : ZhouQiJun
 * @Date        : 2024-05-14 02:28:17
 * @LastEditors : ZhouQiJun
 * @LastEditTime: 2024-05-14 10:40:15
 * @Description : Button组件测试
-->
<script setup>
import { Button } from './Button'
</script>

<template>
  <!-- TODO 了解组件分类 -->
  <!-- https://ourai.ws/series/talking-about-frontend-ui-components/ -->
  <!-- TODO -->
  <!-- histoire 左侧菜单如何定义顺序 -->
  <Story title="Form/Button"> 
    <Button color="blue"/>
    <Button color="red"/>
    <Button color="gray"/>
  </Story>
</template>

<docs lang="md">
  # EcButton 按钮组件
  
</docs>
  