<!--
 * @Author      : ZhouQiJun
 * @Date        : 2024-05-14 10:03:31
 * @LastEditors : ZhouQiJun
 * @LastEditTime: 2024-05-14 10:32:28
 * @Description : Desc 组件测试
-->
<script setup lang="jsx">
import { Desc } from './Desc'

const baseCols = [{
  label: '姓名',
  prop: 'name'
}, {
  label: '年龄',
  prop: 'age'
}, {
  label: '地址',
  prop: 'address'
}]
const data = {
  name: '张三',
  age: 18,
  address: '北京市朝阳区'
}
const baseCols2 = [{
  label: (data) => {
    return <span style={{ color: 'green' }}>{'姓名'}</span>
  },
  prop: (data) => {
    return <span style={{ color: 'red' }}> I am {data.name}</ span>
  }
}, {
  label: '年龄',
  prop: 'age'
}, {
  label: '地址',
  prop: 'address'
}]
</script>

<template>
  <Story title="数据展示/Desc">
    <Variant title="基本用法">
      <Desc title="基本用法" :cols="baseCols" :data="data" />
    </Variant>
    <Variant title="自定义label和prop">
      <Desc title="自定义label和prop" :cols="baseCols2" :data="data" />
    </Variant>
  </Story>
</template>

<docs lang="md">
  # EcDesc 描述组件
  
</docs>
