
.ec-desc {
  div,
  ul,
  li {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  background-color: #fff;
  margin: 20px 0;
  .title-box {
    display: flex;
    align-items: center;
    height: 46px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 5px 10px;
    .title-text {
      display: inline-block;
      font-weight: bolder;
      font-size: 16px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    border-top: 1px solid#ebeef5;
    border-left: 1px solid #ebeef5;
    li {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;

      .label-box {
        display: flex;
        box-sizing: border-box;
        display: inline-block;
        justify-content: flex-end;
        height: 100%;
        min-height: 39px;
        padding: 0 10px;
        align-items: center;
        background-color: #cdcdcd3f;
        border-right: 1px solid#ebeef5;
        border-bottom: 1px solid #ebeef5;
        font-weight: 700;
        color: #606266;
        text-align: right;
        font-size: 14px;
        line-height: 39px;
        word-wrap: break-word;
      }

      .value-box {
        box-sizing: border-box;
        display: inline-block;
        height: 100%;
        min-height: 39px;
        padding: 0 10px;
        border-right: 1px solid#ebeef5;
        border-bottom: 1px solid #ebeef5;
        font-size: 14px;
        line-height: 39px;
        word-wrap: break-word;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .no-data {
    border: 1px solid #ebeef5;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
  }
  .zm-copy {
    cursor: copy;
  }
}