<!--
 * @Author      : ZhouQiJun
 * @Date        : 2024-05-12 17:45:13
 * @LastEditors : ZhouQiJun
 * @LastEditTime: 2024-05-14 10:53:32
 * @Description : 
-->
<script setup lang="ts">
import { computed, ref, watchEffect } from 'vue'

const emit = defineEmits(['update:modelValue', 'toggle'])
const props = defineProps({
    modelValue: {
        type: Boolean,
        default: false
    }
})

// NOTE data  + watchEffect 非受控组件
// v-model 不是必需的，
const isOpen = ref()
watchEffect(() => {
    isOpen.value = props.modelValue
})
function toggle() {
    isOpen.value = !isOpen.value
    emit('update:modelValue', isOpen.value)
    // TODO 为何必须抛出对象 logEvent('toggle', $event) 第二个参数必须是 $event 吗
    // 抛出单个值，在 histoire 事件面板中不会展示
    emit('toggle', { open: isOpen.value })
}

// NOTE props.modelValue + update:modelValue 受控组件
// v-model 是必需的
// function toggle() {
//     emit('update:modelValue', !props.modelValue)
// }
</script>

<template>
  <span
    class="es-switch"
    tabindex="0"
    role="checkbox"
    :aria-checked="isOpen"
    @click="toggle"
    @keydown.space.prevent="toggle">
  </span>
</template>

<style lang="scss">
$border-radius: 9999px;
$toggle-width: 3rem;
$toggle-height: 1.5rem;

.es-switch {
    position: relative;
    display: inline-block;
    height: $toggle-height;
    width: $toggle-width;

    flex-shrink: 0;
    border-radius: $border-radius;
    cursor: pointer;

    /* 聚焦时样式 */
    &:focus {
        outline: 0;
        box-shadow: 0 0 0 2px rgba(52, 144, 220, 0.5);
    }

    &:before {
        display: inline-block;
        border-radius: $border-radius;
        height: 100%;
        width: 100%;
        content: '';
        background-color: #dae1e7;
        /* background-color: red; */
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.2s ease;
    }

    /* 开启后背景颜色变为绿色 */
    &[aria-checked='true']:before {
        background-color: #04be02;
    }

    /* 移动的按钮，关闭时位于左侧，left:0 */
    &:after {
        position: absolute;
        top: 0;
        left: 0;

        height: $toggle-height;
        width: $toggle-height;
        background-color: #fff;

        border-radius: $border-radius;
        border-width: 1px;
        border-color: #dae1e7;

        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
        content: '';

        transform: translateX(0);
        transition: transform 0.2s ease;
    }

    /* 开启后，向右移动 0.5 的 span 宽度 */
    &[aria-checked='true']:after {
        transform: translateX(#{$toggle-height});
    }
}
</style>
