<!--
 * @Author      : ZhouQiJun
 * @Date        : 2024-05-14 10:19:18
 * @LastEditors : ZhouQiJun
 * @LastEditTime: 2024-05-14 10:53:53
 * @Description : Switch 组件测试
-->
<script setup>
import { ref } from 'vue';
import { logEvent } from 'histoire/client'

import Switch from './Switch.vue'
const open = ref(false)
</script>

<template>
  <Story title="Form/Switch">
    <Variant title="非受控用法">
        <Switch  @toggle="logEvent('toggle', $event)"/>
        <!-- TODO 每个 Variant 不能有独立的文档吗 -->
    </Variant>
    <Variant title="绑定v-model">
        <Switch v-model="open"/>
    </Variant>
  </Story>
</template>

<docs lang="md">
  # EcSwitch 开关组件
  
</docs>