<!--
 * @Author      : ZhouQiJun
 * @Date        : 2025-02-24 17:08:53
 * @LastEditors : ZhouQiJun
 * @LastEditTime: 2025-02-24 17:33:54
 * @Description :
-->
<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import {ref} from 'vue'
import {Button as EsButton,Switch as EsSwitch} from '../../dist/ecui.js';
const open=ref(true)
</script>

<template>
  <div bg="light-blue">
    <h1>按需加载</h1>
    <h2>EsButton</h2>
    <EsButton>默认颜色</EsButton>
    <EsButton color="blue">blue</EsButton>
    <EsButton color="green">green</EsButton>
    <EsButton color="gray">gray</EsButton>
    <EsButton color="yellow">yellow</EsButton>
    <EsButton color="red">红色</EsButton>
    <h3>icon</h3>
    <EsButton color="blue" icon="search">blue</EsButton>
    <EsButton color="green" icon="edit">green</EsButton>
    <EsButton color="gray" icon="check">gray</EsButton>
    <EsButton color="yellow" icon="message">yellow</EsButton>
    <EsButton color="red" icon="delete" />
    <h2>EsSwitch {{open}}</h2>
    <EsSwitch v-model="open" />
  </div>
</template>

<style scoped>
header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
