<!--
 * @Author      : ZhouQiJun
 * @Date        : 2024-05-12 19:56:43
 * @LastEditors : ZhouQiJun
 * @LastEditTime: 2024-12-12 01:19:02
 * @Description :
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/dist/style.css" />
  </head>
  <body>
    <h1>测试 esm</h1>
    <div id="app"></div>
    <script type="module">
      import { createApp } from "/node_modules/vue/dist/vue.esm-browser.js";
      // import ESUI from "../dist/esui.js";

      // 全量加载组件
      // createApp({
      //  data:()=>{
      //   return {
      //     open: true
      //    }
      //   },
      //   template: `
      //     <h1>全量加载 </h1>
      //     <h2>EsButton</h2>
      //     <EsButton />
      //     <h2>EsSwitch {{open}}</h2>
      //     <EsSwitch v-model="open"/>
      //   `})
      //   .use(ESUI)
      //   .mount('#app')

      import {Button,Switch} from '/dist/esui.js';

      createApp({
       data:()=>{
        return {
          open: true
         }
        },
        template: `
          <h1>按需加载 </h1>
          <h2>EsButton</h2>
          <EsButton>默认颜色</EsButton>
          <EsButton color="blue">blue</EsButton>
          <EsButton color="green">green</EsButton>
          <EsButton color="gray">gray</EsButton>
          <EsButton color="yellow">yellow</EsButton>
          <EsButton color="red">红色</EsButton>
          <h3>icon</h3>
          <EsButton color="blue" icon="search">blue</EsButton>
          <EsButton color="green" icon="edit">green</EsButton>
          <EsButton color="gray" icon="check">gray</EsButton>
          <EsButton color="yellow" icon="message">yellow</EsButton>
          <EsButton color="red" icon="delete">红色</EsButton>
          <h2>EsSwitch {{open}}</h2>
          <EsSwitch v-model="open"/>
        `})
        .use(Button)
        .use(Switch)
        .mount('#app')
    </script>
  </body>
</html>
