<!--
 * @Author      : ZhouQiJun
 * @Date        : 2024-05-12 17:52:42
 * @LastEditors : ZhouQiJun
 * @LastEditTime: 2024-05-14 09:44:27
 * @Description : 测试组件
-->
<script setup lang="jsx">
import { Button } from './components'
import { ref } from "vue"

const open = ref(true)
setTimeout(() => {
  open.value = false
}, 2000)

const cols = [
  {
    label: '姓名',
    prop: 'name'
  },
  {
    label: data => {
      return <span>{data.age}</span>
    },
    prop: data => <span style={{ color: 'red' }}>{data.age}</span>
  }
]
const data = {
  name: '张三',
  age: 18
}
</script>

<template>
  <div class="demos">
    <h2>ESButton</h2>
    <Button>默认颜色</Button>
    <Button color="blue">blue</Button>
    <Button color="green">green</Button>
    <Button color="gray">gray</Button>
    <Button color="yellow">yellow</Button>
    <Button color="red">红色</Button>
    <h3>icon</h3>
    <Button color="blue" icon="search">blue</Button>
    <Button color="green" icon="edit">green</Button>
    <Button color="gray" icon="check">gray</Button>
    <Button color="yellow" icon="message">yellow</Button>
    <Button color="red" icon="delete">红色</Button>
    <h2>ESSwitch</h2>
    <EcSwitch v-model="open" />
    <p>open: {{ open }}</p>
    <h2>描述组件Desc</h2>
    <EcDesc title="标题" :cols="cols" :data="data" />
  </div>
</template>

<style scoped lang="scss">
.demos {
  // scss code
}
</style>
